/* ----------------------------- *\
  &Fotos de Presentación
\* ----------------------------- */

.hero-image1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../imgs/jacm_portafolio1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../imgs/jacm_portafolio.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
