*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f9f9f9; */
  background-color: #000;
  color: #333;
  opacity: 0;
  animation: fadeInPage 1s ease-in-out forwards;
}

@keyframes fadeInPage {
  to {
    opacity: 1;
  }
}

.header-logo-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header.timeline-header {
  position: sticky;
  top: 0;
  /* background-color: white; */
  background-color: #000;
  color: #fff;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.progress-bar-container {
  width: 100%;
  height: 1px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-top: 1px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 0;
  /* background-color: #4CAF50; */
  background-color: orangered;
  transition: width 0.2s ease-out;
}

.filters {
  text-align: center;
  margin: 20px 0;
}


.filter-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover {
  /* background-color: #4CAF50; */
  background-color: orangered;
  color: white;
}

.filter-button.active {
  /* background-color: #4CAF50; */
  background-color: orangered;
  color: white;
}

.timeline {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  /* background: url('fondo-cronologia.jpg') no-repeat center center fixed; */
  background-color: #161616;
  color: #fff;
  /* background-size: cover; */
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
}

.category {
  margin: 40px 0;
}

.category h2 {
  font-size: 1.8rem;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: calc(31% - 20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project:hover {
  transform: scale(1.05);
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.project h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.project p {
  font-size: 1rem;
  color: #666;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  /* color: #4CAF50; */
  color: orangered;
  text-decoration: none;
  font-weight: bold;
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  /* background-color: #4CAF50; */
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  display: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.scroll-button:hover {
  /* background-color: #388E3C; */
  background-color: rgb(175, 47, 0);
}

.button-return {
  text-decoration: none;
  color: #000;
  padding: 13px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-return:hover {
  background-color: orangered;
  color: white;
}

@media screen and (max-width: 768px) {
  .projects {
    flex-direction: column;
    gap: 10px;
  }

  .project {
    width: 100%;
  }

  html, body {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  html, body {
    font-size: 14px;
  }
}