/* ----------------------------- *\
  &Animacion Textos Multiples
\* ----------------------------- */
/* presentacion 1440 px */

.wrapper-out {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-top: 10%;
  margin-bottom: 15%;
  background-color: black;
  color: rgb(124, 122, 122);
}

.wrapper-in {
  display: inline-flex;
}

.wrapper-in .static-txt {
  font-size: 3.333rem;
  font-weight: 600;
  color: #fff;
  
}

.wrapper-in .dynamic-txt {
  margin-left: 9px;
  height: 85px;
  overflow: hidden;
}

.dynamic-txt li {
  list-style: none;
  font-size: 3.333rem;
  font-weight: 600;
  color: orangered;
  position: relative;
  top: 0;
  animation: slide 20s steps(4) infinite;
}

span{
  height: 120%;
  margin-bottom: 1%
}

@keyframes slide {
  100% {
    top: -20rem;
  }
}

.dynamic-txt li span {
  position: relative;
}

.dynamic-txt li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 110%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-left: 2px solid orangered;
  animation: typing 5s steps(20) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
